.basic_share_dialog {
  .share_dialog_divider {
    border-top-color: transparent;
  }
}

.share_dialog_attachment_container {
  color: $base-font-color;
}

#share_dialog .file_list_item {
  border-color: $color-shade-darkest;
}

#generic_dialog.basic_share_dialog .lazy_filter_select .lfs_item .ts_icon:not(.presence_icon),
#share_dialog .lazy_filter_select .lfs_item .ts_icon:not(.presence_icon) {
  color: $color-highlight;
}

#share_dialog_input_container #file_comment_textarea.ql-container {
  border-color: $color-shade-dark;

  &.focus {
    border-color: $color-shade-light;

    ~ .emo_menu {
      color: $base-font-color;
    }
  }
}

.p-file_upload_dialog__preview {
  background-color: #fff;
  background-image: -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-position: 0 0, 10px 10px;
  -webkit-background-size: 21px 21px;
  border: 0;
}
